body {
  background-color: #e8e4e1;
  font-family: "Roboto", sans-serif;
}

h1 {
  margin-top: 50px;
  font-size: 23px;
  margin-left: 1.66%;
}

hr.top {
  width: 42.5%;
  margin: 1.66%;
}

img {
  width: 30%;
  float: left;
  margin: 1.66%;
  box-shadow: 15px 15px 5px #aaaaaa;
}

hr.bottom {
  margin-top: 50px;
}

footer {
  text-align: center;
}
